*.pyc
*.o
__pycache__

venv
__pypackages__
.pdm.toml

tags
binary_dataset
multiclass_dataset
.python-version
.pdm-python
.ipynb-checkpoints
.ipynb_checkpoints
data/source
*.pt
automl_binary.pkl
automl_multiclass.pkl
